.create-card-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: white;
    box-sizing: border-box;
    z-index: 9999;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    ;


}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background-color: black;
    opacity: 0.5;
}

.confirm {
    width: 280px;
    height: 50px;
    border-radius: 50px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.disabled-button {
    background-color: lightgrey;
    cursor: default
}

.cross-button {
    object-fit: contain;
    max-width: 20px;
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: 35px;
}